<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
<div style="font-family: 'Walter Turncoat', cursive;">

<h1>Log In</h1>

<form action="/login" method="POST">
  <label for="username"> Username: </label>
  <input type="text" id="username" name="username">
  <br></br>
  <label for="email"> Email: </label>
  <input type="text" id="email" name="email">
  <br></br>
  <label for="password"> Password: </label>
  <input type="text" id="password" name="password">
  <br></br>
  <input type="submit" value="Log In">
</form>

<br></br>
<br></br>
<a href="/">Home</a>

</div>
