<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
<div style="font-family: 'Walter Turncoat', cursive;">

<h1>Sign Up for The Book Keeper</h1>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <br></br>

  <input type="text" name="email" placeholder="Email:">
  <br></br>

  <input type="text" name="password" placeholder="Password:">
  <br></br>
  <input type="submit" value="Sign up">
</form>
</div>
