<h2> Add a Book to your Book List </h2>

<br></br>

<form action="/booklists" method="POST">
  <p>Book Title: <input type="text" name="item"></p>
  <p>Description: <input type="text" name="description"></p>
  <br></br>
  <input type="submit" value="submit">
</form>

<a href="/booklists">Click here for your Book List</a>
